:root {
    --light-green: #8cb369;
    --light-yellow: #ffe1a8;
    --dusty-blue: #abc2d7;
    --light-orange: #F0864C;
    --dark-grey: #2b2d42;

}

.nav-link:hover, .link-hover:hover, .icon-link-hover:hover {
    color: var(--dusty-blue) !important;
}

/* Backgtound colours */
.bg-light-green {
    background-color: var(--light-green) !important;
}

.bg-light-yellow {
    background-color: var(--light-yellow) !important;
}

.bg-dusty-blue {
    background-color: var(--dusty-blue) !important;
}

.bg-light-orange {
    background-color: var(--light-orange) !important;
}

.bg-dark-grey {
    background-color: var(--dark-grey) !important;
}

/* Text colours */
.text-light-green {
    color: var(--light-green) !important;
}

.text-light-yellow {
    color: var(--light-yellow) !important;
}

.text-dusty-blue {
    color: var(--dusty-blue) !important;
}

.text-light-orange {
    color: var(--light-orange) !important;
}


.text-dark-grey {
    color: var(--dark-grey) !important;
}

/* Outline */

.btn-outline-success:hover {
    color: #ffffff8f !important;
    background-color: #8cb3698c !important;
}

/* Opacity */
.bg-green-opacity-50 {
    background-color: #8cb3698c !important;
}

.bg-blue-opacity-10 {
    background-color: #abc2d725 !important;
}

.text-opacity-75 {
    opacity: .75;
}