:root {
    --light-green: #779e7f;
    --rusty-orange: #b8520a;
    --pine-green: #445a4d;
    --dark-green: #2a3b42;
    --dark-grey: #212226;
}

.nav-link:hover, .link-hover:hover, .icon-link-hover:hover {
    color: white !important;
}

.bg-light-green {
    color: var(--light-green) !important;
}

.bg-rusty-orange {
    color: var(--rusty-orange) !important;
}

.bg-pine-green {
    color: var(--pine-green) !important;
}

.bg-dark-green {
    color: var(--dark-green) !important;
}

.bg-dark-grey {
    color: var(--dark-grey) !important;
}

.text-light-green {
    color: var(--light-green) !important;
}

.text-rusty-orange {
    color: var(--rusty-orange) !important;
}

.text-pine-green {
    color: var(--pine-green) !important;
}

.text-dark-green {
    color: var(--dark-green) !important;
}

.text-dark-grey {
    color: var(--dark-grey) !important;
}